.saveTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    font-weight: bold;
    font-size: 26px;
}
.saveCheck {
    color: #94B43B;
    transform: scale(1.8);
    margin-left: 10px;
}